.Homepage {
  text-align: center;
  padding: 3rem;
  display: flex;
  align-content: center;
  flex-direction: column;
}

.Homepage-card {
  padding-top: 10%;
}

.Homepage hr {
  width: 25vw;
}

.Homepage-subtitle {
  font-size: 1rem;
}

.Homepage-welcome {
  margin: 2rem;
}

.Homepage-btns a {
  margin: 0.5rem;
  font-size: 1.25rem;
}
